<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - vKurzuCore</title>
    <link rel="stylesheet" href="~/css/main.css" />


</head>
<body class="body body--index">
    <partial name="_CookieConsentPartial" />
    @RenderBody()

    <footer class="footer footer--blog">

        <hr>
        <nav class="nav" role="navigation">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link link--gradient link--border-hover" href="@Url.Action("Index","Home")#courses">Kurzy</a></li>
                <li class="nav__item"><a class="nav__link link--gradient link--border-hover" href="@Url.Action("Index","Blog",new{title = "index"})">Blog</a></li>
                <li class="nav__item"><a class="nav__link link--gradient link--border-hover" href="@Url.Action("Index","Home")#contact">Kontakt</a></li>
            </ul>
        </nav>
        <div class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link link--gradient link--border-hover nav__link--facebook" href="https://www.facebook.com/VKURZU/">Facebook</a></li>
                <li class="nav__item"><a class="nav__link link--gradient link--border-hover nav__link--linkedin" href="https://www.linkedin.com/company/vkurzu/">LinkedIn</a></li>
                <li class="nav__item"><a class="nav__link link--gradient link--border-hover nav__link--rss" href="http://www.vkurzu.cz/blog/rss/new">RSS</a></li>
            </ul>
        </div>
        <p>
            <small>
                &copy;
                <span id="copyright-year">@DateTime.Now.Year</span> vKurzu.cz
            </small>
        </p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/highlight.js" ></script>
    <script src="~/js/outdated-browser-rework.js" ></script>
    <script src="~/js/quill.min.js" ></script>
    <script src="~/js/script.js" ></script>
    <script src="~/js/sweetalert2.min.js" ></script>
    <script src="~/js/TagScripts.js" ></script>
    <script src="~/js/ThumbnailJs.js" ></script>
    <partial name="_ValidationScriptsPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>


